*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-------------------NAV BAR-------------------*/
.navbar {
  margin-bottom: 20px;
  padding: 10px;
  background-image: linear-gradient(goldenrod, gold, yellow);
  border-bottom: solid 20px yellow;
}
.navbar a:hover{
  font-weight: bold;
}
.navbar>a {
  color: rgb(0, 26, 78);
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-decoration: none;
}
/*-------------------GRID-------------------*/
#player-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 20px;
  /*Adds spacing between columns; especially the nav bar background color and other content*/
}

/*All div children of player container will have this styling. NOTE: some may be changed with !important*/
#player-container>div {
  border: solid 5px rgb(0, 26, 78); 
  border-radius: 10%;
  margin: 10px;
  padding: 20px;
  background-image: linear-gradient(rgb(0, 26, 78), goldenrod);
  color: rgb(255, 244, 179);
  font-family: Arial, Helvetica, sans-serif;
}

/*-------------------PUPPY IMAGE-------------------*/
/*Sizing for puppy images */
img {
  margin-top: 10px;
  margin-bottom: 10px;
  border: solid 5px rgb(0, 26, 78);
  height: 200px;
  width: 150px;
  align-items: center;
}
/*-------------------BUTTON STYLING-------------------*/
button {
  border-radius: 50%;
  margin: 10px;
  padding: 20px;
  background-color: rgb(106, 42, 42);
  color: rgb(255, 244, 179);
  font-family: Arial, Helvetica, sans-serif;
}